@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "GT America Standard";
  src: url("/fonts/GT-America-Standard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America Standard";
  src: url("/fonts/GT-America-Standard-Thin-Italic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT America Standard";
  src: url("/fonts/GT-America-Standard-Ultra-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America Standard";
  src: url("/fonts/GT-America-Standard-Ultra-Light-Italic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT America Standard";
  src: url("/fonts/GT-America-Standard-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America Standard";
  src: url("/fonts/GT-America-Standard-Light-Italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT America Standard";
  src: url("/fonts/GT-America-Standard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America Standard";
  src: url("/fonts/GT-America-Standard-Regular-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT America Standard";
  src: url("/fonts/GT-America-Standard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America Standard";
  src: url("/fonts/GT-America-Standard-Medium-Italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT America Standard";
  src: url("/fonts/GT-America-Standard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America Standard";
  src: url("/fonts/GT-America-Standard-Bold-Italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-weight: 100 900;
}

body {
  font-family: "GT America Standard", "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: 500;
  font-variation-settings:
    "opsz" 14,
    "wght" 400;
  font-size: 14px;
  line-height: 1.5;
  background-color: #fdfdfc;
  color: #111111;
}

.debug {
  outline: 1px dotted red;
}

.debug * {
  outline: 1px dotted blue;
}

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.debug {
  outline: 1px dotted red;
}

.debug * {
  outline: 1px dotted blue;
}

hr {
  grid-column: content;
  border: none;
  height: 10px;
  width: 100%;
  margin: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='10' viewBox='0 0 18 10' width='18'%3E%3CclipPath id='a'%3E%3Cpath d='m0 0h18v10h-18z'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='m0 1c4.56 0 4.56 8 9.14 8s4.56-8 9.14-8 4.56 8 9.14 8 4.56-8 9.14-8 4.58 8 9.14 8 4.58-8 9.14-8 4.58 8 9.16 8' stroke='%23a8a29e' stroke-miterlimit='10'/%3E%3C/g%3E%3C/svg%3E");
}
