@import "tailwindcss";
@import "tw-animate-css";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  font-weight: 100 900;
}


body {   
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: 500;
  font-variation-settings: "opsz" 14, "wght" 400;
  font-size: 14px;
  line-height: 1.5;
  background-color: #fdfdfc;
  color:#111111;
}

.debug {
  outline: 1px dotted red;
}

.debug * {
  outline: 1px dotted blue;
}